@fluxu-labs:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${{GIT_NPM_AUTH_TOKEN}}

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${{FONTAWESOME_NPM_AUTH_TOKEN}}